body {
  background-color: #070218;
  font-family: Arial, Verdana, sans-serif;
}

.index_container {
  margin-top: 200px;
}

.index_container .content {
  width: 350px;
  height: 400px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index_container a {
  text-decoration: none;
  color: white;
}
.links a {
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  width: 100px;
  height: 60px;
  background-color: #3f2aff;
  font-weight: 700;
}
.index_container .download a {
  font-size: 18px;
  background-color: none;
  color: #3f2aff;
}
.index_container .content .logo {
  display: flex;
  justify-content: center;
}
.index_container .content .logo img {
  width: 320px;
}
.index_container .content .links {
  display: flex;
  justify-content: space-between;
}
.index_container .content .download {
  display: flex;
  justify-content: center;
  line-height: 40px;
}
